{{#if resume.code.length}}
<div class="container code-container">
  {{> title value="Software (Open-Source)"}}
  
  {{#each resume.code}}
    <section class="item">
      {{> section-header name=this.repo website=this.repo_url }}
      {{#if summary}}
        <p class="summary">{{summary}}</p>
      {{/if}}

      {{#if principles}}
        <p class="info-text"><u>Principles Implemented</u>: {{ principles }}</p>
      {{/if}}

      {{#if stack}}
        <p class="info-text"><u>Technology Stack</u>: {{ stack }}</p>
      {{/if}}

    </section>
    
    {{/each}}
</div>
{{/if}}