{{#if resume.publications.length}}
<div class="container publications-container">
  {{> title value="Selected Publications"}}

  {{#each resume.publications}}
  <section class="item">
    {{> publication-header name=this.name}}

    {{#if publisher}}
      <h5 class="bold smallcaps">{{publisher}} - {{#if releaseDate}}{{formatDate releaseDate}}{{/if}}</h5>
    {{/if}}

    {{#if authors}}
      <p class="summary">{{authors}}</p>
    {{/if}}

  </section>
  {{/each}}
</div>
{{/if}}
