{{#if resume.skills.length}}
<div class="container skills-container">
  {{#each resume.skills}}
  <section>
    {{#if name}}
      {{> title value=name}}
    {{/if}}
    {{#if proficient}}
      <h6 class="header smallcaps bold underline">proficient</h6>
    {{/if}}
    {{#if proficient.length}}
      <ul class="minimal">
        {{#each proficient}}
        <li>
          <h6>{{.}}</h6>
        </li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if intermediate}}
      <h6 class="header smallcaps bold underline">intermediate</h6>
    {{/if}}
    {{#if intermediate.length}}
      <ul class="minimal">
        {{#each intermediate}}
        <li>
          <h6>{{.}}</h6>
        </li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if competent}}
      <h6 class="header smallcaps bold underline">competent</h6>
    {{/if}}
    {{#if competent.length}}
      <ul class="minimal">
        {{#each competent}}
        <li>
          <h6>{{.}}</h6>
        </li>
        {{/each}}
      </ul>
    {{/if}}
  </section>
  {{/each}}
</div>
{{/if}}
