<div class="title">
  <h3 class="bold uppercase">{{value}}</h3>
  {{#resume.basics}}
    {{#if scholar_summary}}
      <h5><a href="https://ravnoorgill.com/papers/" target="_blank"> 15 publications (5 first-author, h-index: 10) in high-impact journals/conferences <i class="fa fa-external-link" aria-hidden="true"></i> </a></h5>
  {{/if}}
    {{#if talks_summary}}
      <h5><a href="https://ravnoorgill.com/talks/" target="_blank"> presented 8 research talks at several national and international venues <i class="fa fa-external-link" aria-hidden="true"></i> </a></h5>
  {{/if}}
  {{/resume.basics}}
  <div class="keyline"></div>
</div>
